#good {
    border-style: solid;
    width: 40px;
    height: 60px;
    margin: 5px;
    background-color: green;
    text-align: center;
    border-color: black;
    color: white;
    font-size: 50px;

}

#bad {
    border-style: solid;
    width: 40px;
    height: 60px;
    margin: 5px;
    background-color: gray;
    text-align: center;
    border-color: black;
    color: white;
    font-size: 50px;
    
}

#warm {
    border-style: solid;
    width: 40px;
    height: 60px;
    margin: 5px;
    background-color: yellow;
    text-align: center;
    border-color: black;
    color: black;
    font-size: 50px;
}

#blank {
    border-style: solid;
    width: 40px;
    height: 60px;
    margin: 5px;
    background-color: white;
    text-align: center;
    border-color: black;
    font-size: 50px;
}