<div id="top"><button id="keytop" (click)='add("q")'>Q</button>
    <button id="keytop" (click)='add("w")'>W</button>
    <button id="keytop" (click)='add("e")'>E</button>
    <button id="keytop" (click)='add("r")'>R</button>
    <button id="keytop" (click)='add("t")'>T</button>
    <button id="keytop" (click)='add("y")'>Y</button>
    <button id="keytop" (click)='add("u")'>U</button>
    <button id="keytop" (click)='add("i")'>I</button>
    <button id="keytop" (click)='add("o")'>O</button>
    <button id="keytop" (click)='add("p")'>P</button>

</div>
<div id="mid"><button id="keymid" (click)='add("a")'>A</button>
    <button id="keymid" (click)='add("s")'>S</button>
    <button id="keymid" (click)='add("d")'>D</button>
    <button id="keymid" (click)='add("f")'>F</button>
    <button id="keymid" (click)='add("g")'>G</button>
    <button id="keymid" (click)='add("h")'>H</button>
    <button id="keymid" (click)='add("j")'>J</button>
    <button id="keymid" (click)='add("k")'>K</button>
    <button id="keymid" (click)='add("l")'>L</button>
</div>
<div id="bottom"><button id="submit" (click)="submitCur()">Submit</button>
    <button id="keybottom" (click)='add("z")'>Z</button>
    <button id="keybottom" (click)='add("x")'>X</button>
    <button id="keybottom" (click)='add("c")'>C</button>
    <button id="keybottom" (click)='add("v")'>V</button>
    <button id="keybottom" (click)='add("b")'>B</button>
    <button id="keybottom" (click)='add("n")'>N</button>
    <button id="keybottom" (click)='add("m")'>M</button>
    <button id="backspace" (click)="backSpace()"><<</button>
</div>
<div></div>
